<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Logs Tests">
    <test verbose="2" preserve-order="true" name="/Users/evelinahorbachova/IdeaProjects/Maven_logsProject">
        <classes/>
    </test>

    <test name="/Users/evelinahorbachova/IdeaProjects/Maven_logsProject/src/main/java/FirstTask/LogReader.java" >
        <classes/>
    </test>

</suite>

